<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>2</string>
				<key>name</key>
				<string>养颜</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>3</string>
				<key>name</key>
				<string>排毒</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>4</string>
				<key>name</key>
				<string>美白</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>5</string>
				<key>name</key>
				<string>抗皱</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>6</string>
				<key>name</key>
				<string>祛斑</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>7</string>
				<key>name</key>
				<string>祛痘</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>8</string>
				<key>name</key>
				<string>润肤</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>9</string>
				<key>name</key>
				<string>保湿</string>
			</dict>
		</array>
		<key>name</key>
		<string>美容</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>167</string>
				<key>name</key>
				<string>咳嗽</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>168</string>
				<key>name</key>
				<string>感冒</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>169</string>
				<key>name</key>
				<string>鼻炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>170</string>
				<key>name</key>
				<string>鼻塞</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>171</string>
				<key>name</key>
				<string>咽炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>172</string>
				<key>name</key>
				<string>喉咙痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>173</string>
				<key>name</key>
				<string>哮喘</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>174</string>
				<key>name</key>
				<string>肺炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>175</string>
				<key>name</key>
				<string>肺气肿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>176</string>
				<key>name</key>
				<string>肺结核</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>177</string>
				<key>name</key>
				<string>气管炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>178</string>
				<key>name</key>
				<string>支气管炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>179</string>
				<key>name</key>
				<string>急性支气管炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>180</string>
				<key>name</key>
				<string>慢性支气管炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>181</string>
				<key>name</key>
				<string>支气管哮喘</string>
			</dict>
		</array>
		<key>name</key>
		<string>呼吸道</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>11</string>
				<key>name</key>
				<string>瘦身</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>12</string>
				<key>name</key>
				<string>瘦脸</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>13</string>
				<key>name</key>
				<string>瘦腿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>14</string>
				<key>name</key>
				<string>丰胸</string>
			</dict>
		</array>
		<key>name</key>
		<string>减肥</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>183</string>
				<key>name</key>
				<string>血压高</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>184</string>
				<key>name</key>
				<string>血糖高</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>185</string>
				<key>name</key>
				<string>血脂高</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>186</string>
				<key>name</key>
				<string>贫血</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>187</string>
				<key>name</key>
				<string>高血压</string>
			</dict>
		</array>
		<key>name</key>
		<string>血管</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>99</string>
				<key>name</key>
				<string>便秘</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>100</string>
				<key>name</key>
				<string>口臭</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>101</string>
				<key>name</key>
				<string>胃痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>102</string>
				<key>name</key>
				<string>胃病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>103</string>
				<key>name</key>
				<string>腹泻</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>104</string>
				<key>name</key>
				<string>肠炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>105</string>
				<key>name</key>
				<string>痔疮</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>106</string>
				<key>name</key>
				<string>胃寒</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>107</string>
				<key>name</key>
				<string>结肠炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>108</string>
				<key>name</key>
				<string>胃溃疡</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>109</string>
				<key>name</key>
				<string>消化不良</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>110</string>
				<key>name</key>
				<string>胃酸过多</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>111</string>
				<key>name</key>
				<string>小儿腹泻</string>
			</dict>
		</array>
		<key>name</key>
		<string>肠胃消化</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>189</string>
				<key>name</key>
				<string>冠心病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>190</string>
				<key>name</key>
				<string>心脏病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>191</string>
				<key>name</key>
				<string>心悸</string>
			</dict>
		</array>
		<key>name</key>
		<string>心脏</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>53</string>
				<key>name</key>
				<string>宝宝</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>54</string>
				<key>name</key>
				<string>女性</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>55</string>
				<key>name</key>
				<string>孕妇</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>56</string>
				<key>name</key>
				<string>产妇</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>57</string>
				<key>name</key>
				<string>男人</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>58</string>
				<key>name</key>
				<string>考生</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>59</string>
				<key>name</key>
				<string>白领</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>60</string>
				<key>name</key>
				<string>胎儿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>61</string>
				<key>name</key>
				<string>老年人</string>
			</dict>
		</array>
		<key>name</key>
		<string>人群</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>113</string>
				<key>name</key>
				<string>怀孕前</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>114</string>
				<key>name</key>
				<string>准备怀孕</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>115</string>
				<key>name</key>
				<string>不孕</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>116</string>
				<key>name</key>
				<string>怀孕</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>117</string>
				<key>name</key>
				<string>孕妇</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>118</string>
				<key>name</key>
				<string>孕吐</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>119</string>
				<key>name</key>
				<string>妊娠呕吐</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>120</string>
				<key>name</key>
				<string>妊娠水肿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>121</string>
				<key>name</key>
				<string>怀孕初期</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>122</string>
				<key>name</key>
				<string>安胎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>123</string>
				<key>name</key>
				<string>保胎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>124</string>
				<key>name</key>
				<string>产妇</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>125</string>
				<key>name</key>
				<string>坐月子</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>126</string>
				<key>name</key>
				<string>产后</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>127</string>
				<key>name</key>
				<string>哺乳期</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>128</string>
				<key>name</key>
				<string>乳腺炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>129</string>
				<key>name</key>
				<string>下奶</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>130</string>
				<key>name</key>
				<string>产后恶露不尽</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>131</string>
				<key>name</key>
				<string>产后便秘</string>
			</dict>
		</array>
		<key>name</key>
		<string>孕产哺乳</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>198</string>
				<key>name</key>
				<string>睡眠不好</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>199</string>
				<key>name</key>
				<string>偏头痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>200</string>
				<key>name</key>
				<string>神经衰弱</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>201</string>
				<key>name</key>
				<string>失眠</string>
			</dict>
		</array>
		<key>name</key>
		<string>神经系统</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>206</string>
				<key>name</key>
				<string>腰痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>207</string>
				<key>name</key>
				<string>风湿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>208</string>
				<key>name</key>
				<string>颈椎病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>209</string>
				<key>name</key>
				<string>关节炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>210</string>
				<key>name</key>
				<string>骨质疏松</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>211</string>
				<key>name</key>
				<string>骨折</string>
			</dict>
		</array>
		<key>name</key>
		<string>肌肉骨骼</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>203</string>
				<key>name</key>
				<string>口腔溃疡</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>204</string>
				<key>name</key>
				<string>牙痛</string>
			</dict>
		</array>
		<key>name</key>
		<string>口腔</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>63</string>
				<key>name</key>
				<string>春天</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>64</string>
				<key>name</key>
				<string>夏天</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>65</string>
				<key>name</key>
				<string>秋天</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>66</string>
				<key>name</key>
				<string>冬天</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>67</string>
				<key>name</key>
				<string>节日</string>
			</dict>
		</array>
		<key>name</key>
		<string>时节</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>69</string>
				<key>name</key>
				<string>早餐</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>70</string>
				<key>name</key>
				<string>晚餐</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>71</string>
				<key>name</key>
				<string>夜宵</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>72</string>
				<key>name</key>
				<string>睡前</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>73</string>
				<key>name</key>
				<string>饭前</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>74</string>
				<key>name</key>
				<string>空腹</string>
			</dict>
		</array>
		<key>name</key>
		<string>餐时</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>219</string>
				<key>name</key>
				<string>早泄</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>220</string>
				<key>name</key>
				<string>遗精</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>221</string>
				<key>name</key>
				<string>阳痿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>222</string>
				<key>name</key>
				<string>壮阳</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>223</string>
				<key>name</key>
				<string>前列腺炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>224</string>
				<key>name</key>
				<string>死精子过多</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>225</string>
				<key>name</key>
				<string>精子活力低下</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>226</string>
				<key>name</key>
				<string>不育</string>
			</dict>
		</array>
		<key>name</key>
		<string>男性</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>76</string>
				<key>name</key>
				<string>眼睛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>77</string>
				<key>name</key>
				<string>牙齿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>78</string>
				<key>name</key>
				<string>大脑</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>79</string>
				<key>name</key>
				<string>精子</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>80</string>
				<key>name</key>
				<string>心血管</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>81</string>
				<key>name</key>
				<string>前列腺</string>
			</dict>
		</array>
		<key>name</key>
		<string>器官</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>213</string>
				<key>name</key>
				<string>皮肤粗糙</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>214</string>
				<key>name</key>
				<string>皮肤干燥</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>215</string>
				<key>name</key>
				<string>皮肤瘙痒</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>216</string>
				<key>name</key>
				<string>皮肤松弛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>217</string>
				<key>name</key>
				<string>雀斑</string>
			</dict>
		</array>
		<key>name</key>
		<string>皮肤</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>148</string>
				<key>name</key>
				<string>来月经</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>149</string>
				<key>name</key>
				<string>来例假</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>150</string>
				<key>name</key>
				<string>月经期间</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>151</string>
				<key>name</key>
				<string>月经不调</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>152</string>
				<key>name</key>
				<string>痛经</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>153</string>
				<key>name</key>
				<string>闭经</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>154</string>
				<key>name</key>
				<string>月经提前</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>155</string>
				<key>name</key>
				<string>月经推迟</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>156</string>
				<key>name</key>
				<string>月经过少</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>157</string>
				<key>name</key>
				<string>月经量少</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>158</string>
				<key>name</key>
				<string>月经过多</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>159</string>
				<key>name</key>
				<string>月经量多</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>160</string>
				<key>name</key>
				<string>更年期</string>
			</dict>
		</array>
		<key>name</key>
		<string>经期</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>83</string>
				<key>name</key>
				<string>经期</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>84</string>
				<key>name</key>
				<string>挑食</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>85</string>
				<key>name</key>
				<string>疲劳</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>86</string>
				<key>name</key>
				<string>上火</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>87</string>
				<key>name</key>
				<string>干燥</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>88</string>
				<key>name</key>
				<string>肾虚</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>89</string>
				<key>name</key>
				<string>阴虚</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>90</string>
				<key>name</key>
				<string>气虚</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>91</string>
				<key>name</key>
				<string>缺钙</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>92</string>
				<key>name</key>
				<string>肾阳虚</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>93</string>
				<key>name</key>
				<string>肾阴虚</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>94</string>
				<key>name</key>
				<string>压力大</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>95</string>
				<key>name</key>
				<string>黑眼圈</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>96</string>
				<key>name</key>
				<string>消化不良</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>97</string>
				<key>name</key>
				<string>营养不良</string>
			</dict>
		</array>
		<key>name</key>
		<string>调养</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>162</string>
				<key>name</key>
				<string>盆腔炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>163</string>
				<key>name</key>
				<string>白带异常</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>164</string>
				<key>name</key>
				<string>乳腺增生</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>165</string>
				<key>name</key>
				<string>子宫出血</string>
			</dict>
		</array>
		<key>name</key>
		<string>女性疾病</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>133</string>
				<key>name</key>
				<string>近视</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>134</string>
				<key>name</key>
				<string>甲亢</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>135</string>
				<key>name</key>
				<string>上火</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>136</string>
				<key>name</key>
				<string>白内障</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>137</string>
				<key>name</key>
				<string>湿疹</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>138</string>
				<key>name</key>
				<string>呕吐</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>139</string>
				<key>name</key>
				<string>尿频</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>140</string>
				<key>name</key>
				<string>水肿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>141</string>
				<key>name</key>
				<string>痛风</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>142</string>
				<key>name</key>
				<string>解酒</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>143</string>
				<key>name</key>
				<string>过敏</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>144</string>
				<key>name</key>
				<string>湿热</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>145</string>
				<key>name</key>
				<string>中暑</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>146</string>
				<key>name</key>
				<string>内分泌失调</string>
			</dict>
		</array>
		<key>name</key>
		<string>其他</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>16</string>
				<key>name</key>
				<string>补钙</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>17</string>
				<key>name</key>
				<string>补血</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>18</string>
				<key>name</key>
				<string>补铁</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>19</string>
				<key>name</key>
				<string>润肺</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>20</string>
				<key>name</key>
				<string>养肝</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>21</string>
				<key>name</key>
				<string>养胃</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>22</string>
				<key>name</key>
				<string>补肾</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>23</string>
				<key>name</key>
				<string>健脾</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>24</string>
				<key>name</key>
				<string>降火</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>25</string>
				<key>name</key>
				<string>降压</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>26</string>
				<key>name</key>
				<string>开胃</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>27</string>
				<key>name</key>
				<string>御寒</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>28</string>
				<key>name</key>
				<string>补脑</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>29</string>
				<key>name</key>
				<string>明目</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>30</string>
				<key>name</key>
				<string>滋阴</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>31</string>
				<key>name</key>
				<string>壮阳</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>32</string>
				<key>name</key>
				<string>益寿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>33</string>
				<key>name</key>
				<string>益智</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>34</string>
				<key>name</key>
				<string>防癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>35</string>
				<key>name</key>
				<string>清肠</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>36</string>
				<key>name</key>
				<string>止咳</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>37</string>
				<key>name</key>
				<string>护眼</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>38</string>
				<key>name</key>
				<string>护肝</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>39</string>
				<key>name</key>
				<string>润燥</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>40</string>
				<key>name</key>
				<string>补铁</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>41</string>
				<key>name</key>
				<string>养血</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>42</string>
				<key>name</key>
				<string>解暑</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>43</string>
				<key>name</key>
				<string>清热</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>44</string>
				<key>name</key>
				<string>防辐射</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>45</string>
				<key>name</key>
				<string>长个子</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>46</string>
				<key>name</key>
				<string>增强记忆力</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>47</string>
				<key>name</key>
				<string>提高免疫力</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>48</string>
				<key>name</key>
				<string>补锌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>49</string>
				<key>name</key>
				<string>养肾</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>50</string>
				<key>name</key>
				<string>抗衰老</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>51</string>
				<key>name</key>
				<string>护肝</string>
			</dict>
		</array>
		<key>name</key>
		<string>保健养生</string>
	</dict>
</array>
</plist>
