<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>61</string>
				<key>name</key>
				<string>急诊科</string>
			</dict>
		</array>
		<key>name</key>
		<string>急诊科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>2</string>
				<key>name</key>
				<string>呼吸内科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>3</string>
				<key>name</key>
				<string>消化内科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>4</string>
				<key>name</key>
				<string>神经内科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>5</string>
				<key>name</key>
				<string>内分泌科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>6</string>
				<key>name</key>
				<string>肾内科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>7</string>
				<key>name</key>
				<string>风湿科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>8</string>
				<key>name</key>
				<string>血液科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>9</string>
				<key>name</key>
				<string>心血管内科</string>
			</dict>
		</array>
		<key>name</key>
		<string>内科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>33</string>
				<key>name</key>
				<string>皮肤科</string>
			</dict>
		</array>
		<key>name</key>
		<string>皮肤科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>36</string>
				<key>name</key>
				<string>中医科</string>
			</dict>
		</array>
		<key>name</key>
		<string>中西医结合科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>38</string>
				<key>name</key>
				<string>肝炎</string>
			</dict>
		</array>
		<key>name</key>
		<string>肝病</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>40</string>
				<key>name</key>
				<string>精神病科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>41</string>
				<key>name</key>
				<string>心理咨询</string>
			</dict>
		</array>
		<key>name</key>
		<string>精神心理科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>11</string>
				<key>name</key>
				<string>普外科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>12</string>
				<key>name</key>
				<string>心胸外科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>13</string>
				<key>name</key>
				<string>肝胆外科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>14</string>
				<key>name</key>
				<string>胃肠外科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>15</string>
				<key>name</key>
				<string>脑外科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>16</string>
				<key>name</key>
				<string>泌尿外科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>17</string>
				<key>name</key>
				<string>骨科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>18</string>
				<key>name</key>
				<string>肛肠外科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>19</string>
				<key>name</key>
				<string>乳腺外科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>20</string>
				<key>name</key>
				<string>血管外科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>21</string>
				<key>name</key>
				<string>器官移植</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>22</string>
				<key>name</key>
				<string>烧伤科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>24</string>
				<key>name</key>
				<string>外伤科</string>
			</dict>
		</array>
		<key>name</key>
		<string>外科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>43</string>
				<key>name</key>
				<string>儿科</string>
			</dict>
		</array>
		<key>name</key>
		<string>儿科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>49</string>
				<key>name</key>
				<string>肿瘤科</string>
			</dict>
		</array>
		<key>name</key>
		<string>肿瘤科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>51</string>
				<key>name</key>
				<string>传染科</string>
			</dict>
		</array>
		<key>name</key>
		<string>传染科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>26</string>
				<key>name</key>
				<string>妇科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>27</string>
				<key>name</key>
				<string>产科</string>
			</dict>
		</array>
		<key>name</key>
		<string>妇产科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>29</string>
				<key>name</key>
				<string>眼科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>30</string>
				<key>name</key>
				<string>耳鼻喉科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>31</string>
				<key>name</key>
				<string>口腔科</string>
			</dict>
		</array>
		<key>name</key>
		<string>五官科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>45</string>
				<key>name</key>
				<string>男科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>34</string>
				<key>name</key>
				<string>性病科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>47</string>
				<key>name</key>
				<string>生殖健康</string>
			</dict>
		</array>
		<key>name</key>
		<string>生殖健康</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>63</string>
				<key>name</key>
				<string>营养科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>55</string>
				<key>name</key>
				<string>体检保健科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>53</string>
				<key>name</key>
				<string>老年科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>59</string>
				<key>name</key>
				<string>核医学科</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>57</string>
				<key>name</key>
				<string>成瘾医学科</string>
			</dict>
		</array>
		<key>name</key>
		<string>其他科</string>
	</dict>
</array>
</plist>
