<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>178</string>
				<key>name</key>
				<string>头痛头晕</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>179</string>
				<key>name</key>
				<string>清热解毒</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>180</string>
				<key>name</key>
				<string>驱风祛暑</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>181</string>
				<key>name</key>
				<string>病毒性感冒</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>182</string>
				<key>name</key>
				<string>解热镇痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>185</string>
				<key>name</key>
				<string>咳嗽咳痰</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>190</string>
				<key>name</key>
				<string>恶心呕吐</string>
			</dict>
		</array>
		<key>name</key>
		<string>感冒发热</string>
	</dict>

	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>145</string>
				<key>name</key>
				<string>肌肉关节痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>146</string>
				<key>name</key>
				<string>晕车晕船</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>147</string>
				<key>name</key>
				<string>牙痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>148</string>
				<key>name</key>
				<string>烧伤烫伤</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>149</string>
				<key>name</key>
				<string>扭伤挫伤冻伤</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>191</string>
				<key>name</key>
				<string>消化不良</string>
			</dict>
		</array>
		<key>name</key>
		<string>家庭常备</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>160</string>
				<key>name</key>
				<string>胃脘疼痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>161</string>
				<key>name</key>
				<string>痔疮便秘便血</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>162</string>
				<key>name</key>
				<string>止泻类</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>163</string>
				<key>name</key>
				<string>炎症类</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>164</string>
				<key>name</key>
				<string>助消化类</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>165</string>
				<key>name</key>
				<string>溃疡类</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>183</string>
				<key>name</key>
				<string>便秘</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>184</string>
				<key>name</key>
				<string>便血</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>189</string>
				<key>name</key>
				<string>急慢性胃炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>193</string>
				<key>name</key>
				<string>痢疾</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>194</string>
				<key>name</key>
				<string>胃炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>195</string>
				<key>name</key>
				<string>腹痛腹泻</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>198</string>
				<key>name</key>
				<string>返酸打嗝</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>199</string>
				<key>name</key>
				<string>阑尾炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>200</string>
				<key>name</key>
				<string>食欲不振</string>
			</dict>
		</array>
		<key>name</key>
		<string>肠胃用药</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>153</string>
				<key>name</key>
				<string>口舌生疮</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>154</string>
				<key>name</key>
				<string>耳鸣耳聋</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>155</string>
				<key>name</key>
				<string>扁桃体炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>156</string>
				<key>name</key>
				<string>咽痛音哑</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>157</string>
				<key>name</key>
				<string>口腔科用药</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>158</string>
				<key>name</key>
				<string>耳鼻喉用药</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>159</string>
				<key>name</key>
				<string>眼科用药</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>197</string>
				<key>name</key>
				<string>过敏性鼻炎</string>
			</dict>
		</array>
		<key>name</key>
		<string>五官用药</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>35</string>
				<key>name</key>
				<string>疟疾</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>36</string>
				<key>name</key>
				<string>阿米巴病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>37</string>
				<key>name</key>
				<string>丝虫病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>38</string>
				<key>name</key>
				<string>滴虫病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>39</string>
				<key>name</key>
				<string>螨虫感染</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>40</string>
				<key>name</key>
				<string>蛲虫病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>41</string>
				<key>name</key>
				<string>蛔虫病</string>
			</dict>
		</array>
		<key>name</key>
		<string>抗寄生虫类</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>114</string>
				<key>name</key>
				<string>营养药</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>115</string>
				<key>name</key>
				<string>其它微量元素</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>116</string>
				<key>name</key>
				<string>叶酸类</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>117</string>
				<key>name</key>
				<string>维生素</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>118</string>
				<key>name</key>
				<string>补铁补硒</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>119</string>
				<key>name</key>
				<string>补钙补锌</string>
			</dict>
		</array>
		<key>name</key>
		<string>维生素及营养类</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>28</string>
				<key>name</key>
				<string>麻风病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>29</string>
				<key>name</key>
				<string>结核病</string>
			</dict>
		</array>
		<key>name</key>
		<string>抗结核及麻风类</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>32</string>
				<key>name</key>
				<string>其它水电解质</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>33</string>
				<key>name</key>
				<string>低血糖</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>34</string>
				<key>name</key>
				<string>低血钾</string>
			</dict>
		</array>
		<key>name</key>
		<string>水电解质及酸碱</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>30</string>
				<key>name</key>
				<string>血小板减少</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>31</string>
				<key>name</key>
				<string>白细胞减少</string>
			</dict>
		</array>
		<key>name</key>
		<string>血液疾病类</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>54</string>
				<key>name</key>
				<string>甲状腺瘤</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>55</string>
				<key>name</key>
				<string>淋巴癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>56</string>
				<key>name</key>
				<string>皮肤癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>57</string>
				<key>name</key>
				<string>前列腺癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>58</string>
				<key>name</key>
				<string>胰腺癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>59</string>
				<key>name</key>
				<string>膀胱癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>60</string>
				<key>name</key>
				<string>结肠癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>61</string>
				<key>name</key>
				<string>骨癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>62</string>
				<key>name</key>
				<string>宫颈癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>63</string>
				<key>name</key>
				<string>白血病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>64</string>
				<key>name</key>
				<string>鼻咽癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>65</string>
				<key>name</key>
				<string>脑癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>66</string>
				<key>name</key>
				<string>肾癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>67</string>
				<key>name</key>
				<string>乳腺癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>68</string>
				<key>name</key>
				<string>食道癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>69</string>
				<key>name</key>
				<string>胃癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>70</string>
				<key>name</key>
				<string>肝癌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>71</string>
				<key>name</key>
				<string>肺癌</string>
			</dict>
		</array>
		<key>name</key>
		<string>肿瘤科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>42</string>
				<key>name</key>
				<string>坐骨神经痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>43</string>
				<key>name</key>
				<string>颈椎病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>44</string>
				<key>name</key>
				<string>骨关节炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>45</string>
				<key>name</key>
				<string>骨质疏松</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>46</string>
				<key>name</key>
				<string>骨质增生</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>47</string>
				<key>name</key>
				<string>强直性脊柱炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>48</string>
				<key>name</key>
				<string>器官移植</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>49</string>
				<key>name</key>
				<string>股骨头坏死</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>50</string>
				<key>name</key>
				<string>红斑狼疮</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>51</string>
				<key>name</key>
				<string>类风湿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>52</string>
				<key>name</key>
				<string>过敏</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>53</string>
				<key>name</key>
				<string>痛风</string>
			</dict>
		</array>
		<key>name</key>
		<string>风湿免疫科</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>72</string>
				<key>name</key>
				<string>多动症</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>73</string>
				<key>name</key>
				<string>失眠</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>74</string>
				<key>name</key>
				<string>强迫症</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>75</string>
				<key>name</key>
				<string>精神分裂症</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>76</string>
				<key>name</key>
				<string>抑郁症</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>77</string>
				<key>name</key>
				<string>神经衰弱</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>78</string>
				<key>name</key>
				<string>偏头疼</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>79</string>
				<key>name</key>
				<string>帕金森</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>80</string>
				<key>name</key>
				<string>多发性神经炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>81</string>
				<key>name</key>
				<string>神经性疼痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>82</string>
				<key>name</key>
				<string>小儿脑瘫</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>83</string>
				<key>name</key>
				<string>运动神经元病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>84</string>
				<key>name</key>
				<string>多发性硬化症</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>85</string>
				<key>name</key>
				<string>神经损伤</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>86</string>
				<key>name</key>
				<string>脑血管病（中风）</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>87</string>
				<key>name</key>
				<string>癫痫</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>88</string>
				<key>name</key>
				<string>痴呆</string>
			</dict>
		</array>
		<key>name</key>
		<string>神经/精神</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>98</string>
				<key>name</key>
				<string>酒精肝</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>99</string>
				<key>name</key>
				<string>肝性脑病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>100</string>
				<key>name</key>
				<string>胰腺炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>101</string>
				<key>name</key>
				<string>胆结石</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>102</string>
				<key>name</key>
				<string>胆囊炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>103</string>
				<key>name</key>
				<string>脂肪肝</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>104</string>
				<key>name</key>
				<string>肝纤维化</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>105</string>
				<key>name</key>
				<string>肝硬化</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>106</string>
				<key>name</key>
				<string>丙肝</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>107</string>
				<key>name</key>
				<string>乙肝</string>
			</dict>
		</array>
		<key>name</key>
		<string>肝胆胰用药</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>89</string>
				<key>name</key>
				<string>甲状腺功能减退</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>90</string>
				<key>name</key>
				<string>甲状腺功能亢进</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>91</string>
				<key>name</key>
				<string>风湿疼痛</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>92</string>
				<key>name</key>
				<string>尿崩症</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>93</string>
				<key>name</key>
				<string>肥胖症</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>94</string>
				<key>name</key>
				<string>糖尿病</string>
			</dict>
		</array>
		<key>name</key>
		<string>内分泌失常</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>95</string>
				<key>name</key>
				<string>肾病综合征</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>96</string>
				<key>name</key>
				<string>肾盂肾炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>97</string>
				<key>name</key>
				<string>肾炎</string>
			</dict>
		</array>
		<key>name</key>
		<string>肾病</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>108</string>
				<key>name</key>
				<string>中风偏瘫</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>109</string>
				<key>name</key>
				<string>心脏及冠脉疾病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>110</string>
				<key>name</key>
				<string>肺动脉高压</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>111</string>
				<key>name</key>
				<string>周围血管疾病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>112</string>
				<key>name</key>
				<string>高血脂</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>113</string>
				<key>name</key>
				<string>高血压</string>
			</dict>
		</array>
		<key>name</key>
		<string>心脑血管</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>124</string>
				<key>name</key>
				<string>子宫内膜异位</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>125</string>
				<key>name</key>
				<string>子宫肌瘤</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>126</string>
				<key>name</key>
				<string>乳腺增生</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>127</string>
				<key>name</key>
				<string>内分泌失调</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>128</string>
				<key>name</key>
				<string>女性不孕</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>129</string>
				<key>name</key>
				<string>避孕药</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>130</string>
				<key>name</key>
				<string>产后疾病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>131</string>
				<key>name</key>
				<string>白带异常</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>132</string>
				<key>name</key>
				<string>更年期综合症</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>133</string>
				<key>name</key>
				<string>贫血</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>134</string>
				<key>name</key>
				<string>痛经</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>135</string>
				<key>name</key>
				<string>月经不调</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>136</string>
				<key>name</key>
				<string>阴道炎</string>
			</dict>
		</array>
		<key>name</key>
		<string>妇科用药</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>120</string>
				<key>name</key>
				<string>小儿泄泻用药</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>121</string>
				<key>name</key>
				<string>小儿胃肠用药</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>122</string>
				<key>name</key>
				<string>小儿止咳化痰</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>123</string>
				<key>name</key>
				<string>小儿感冒发烧</string>
			</dict>
		</array>
		<key>name</key>
		<string>儿科用药</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>137</string>
				<key>name</key>
				<string>脱发斑秃</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>138</string>
				<key>name</key>
				<string>肾气虚弱</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>139</string>
				<key>name</key>
				<string>男性不育</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>140</string>
				<key>name</key>
				<string>射精无力</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>141</string>
				<key>name</key>
				<string>少精无精</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>142</string>
				<key>name</key>
				<string>滑精遗精</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>143</string>
				<key>name</key>
				<string>阳痿早泄</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>144</string>
				<key>name</key>
				<string>前列腺用药</string>
			</dict>
		</array>
		<key>name</key>
		<string>男科用药</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>150</string>
				<key>name</key>
				<string>气管炎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>151</string>
				<key>name</key>
				<string>平喘用药</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>152</string>
				<key>name</key>
				<string>止咳祛痰</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>186</string>
				<key>name</key>
				<string>哮喘</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>196</string>
				<key>name</key>
				<string>过敏性哮喘</string>
			</dict>
		</array>
		<key>name</key>
		<string>呼吸系统类</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>166</string>
				<key>name</key>
				<string>荨麻疹</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>167</string>
				<key>name</key>
				<string>酒渣鼻</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>168</string>
				<key>name</key>
				<string>色斑</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>169</string>
				<key>name</key>
				<string>疤痕</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>170</string>
				<key>name</key>
				<string>灰指甲</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>171</string>
				<key>name</key>
				<string>白癜风</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>172</string>
				<key>name</key>
				<string>手足皲裂</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>173</string>
				<key>name</key>
				<string>湿毒疮</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>174</string>
				<key>name</key>
				<string>座疮粉刺</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>175</string>
				<key>name</key>
				<string>疖肿疥疮</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>176</string>
				<key>name</key>
				<string>皮炎湿疹</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>177</string>
				<key>name</key>
				<string>癣症（银屑病）</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>192</string>
				<key>name</key>
				<string>痔疮</string>
			</dict>
		</array>
		<key>name</key>
		<string>皮肤用药</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>23</string>
				<key>name</key>
				<string>艾滋病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>24</string>
				<key>name</key>
				<string>生殖器疱疹</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>25</string>
				<key>name</key>
				<string>带状疱疹</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>26</string>
				<key>name</key>
				<string>淋病</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>27</string>
				<key>name</key>
				<string>尖锐湿疣</string>
			</dict>
		</array>
		<key>name</key>
		<string>性病用药</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>204</string>
				<key>name</key>
				<string>麻醉药</string>
			</dict>
		</array>
		<key>name</key>
		<string>手术用药</string>
	</dict>
	<dict>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>202</string>
				<key>name</key>
				<string>其他药品</string>
			</dict>
		</array>
		<key>name</key>
		<string>其他</string>
	</dict>
</array>
</plist>
