<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>头部</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>2</string>
				<key>name</key>
				<string>鼻</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>3</string>
				<key>name</key>
				<string>耳</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>4</string>
				<key>name</key>
				<string>口</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>5</string>
				<key>name</key>
				<string>颅脑</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>6</string>
				<key>name</key>
				<string>面部</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>7</string>
				<key>name</key>
				<string>咽喉</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>8</string>
				<key>name</key>
				<string>眼</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>颈部</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>10</string>
				<key>name</key>
				<string>甲状腺</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>11</string>
				<key>name</key>
				<string>气管</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>胸部</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>13</string>
				<key>name</key>
				<string>肺</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>14</string>
				<key>name</key>
				<string>膈肌</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>15</string>
				<key>name</key>
				<string>乳房</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>16</string>
				<key>name</key>
				<string>食管</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>17</string>
				<key>name</key>
				<string>心脏</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>18</string>
				<key>name</key>
				<string>纵膈</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>腹部</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>20</string>
				<key>name</key>
				<string>肠</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>21</string>
				<key>name</key>
				<string>肝</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>22</string>
				<key>name</key>
				<string>胆</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>23</string>
				<key>name</key>
				<string>腹膜</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>24</string>
				<key>name</key>
				<string>肠系膜</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>25</string>
				<key>name</key>
				<string>阑尾</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>26</string>
				<key>name</key>
				<string>脾</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>27</string>
				<key>name</key>
				<string>胃</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>28</string>
				<key>name</key>
				<string>胰腺</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>腰部</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>30</string>
				<key>name</key>
				<string>肾</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>31</string>
				<key>name</key>
				<string>肾上腺</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>32</string>
				<key>name</key>
				<string>输尿管</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>臀部</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>34</string>
				<key>name</key>
				<string>肛门</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>上肢</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>36</string>
				<key>name</key>
				<string>肩部</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>37</string>
				<key>name</key>
				<string>前臂</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>38</string>
				<key>name</key>
				<string>上臂</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>39</string>
				<key>name</key>
				<string>手部</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>40</string>
				<key>name</key>
				<string>肘部</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>下肢</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>42</string>
				<key>name</key>
				<string>大腿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>43</string>
				<key>name</key>
				<string>膝部</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>44</string>
				<key>name</key>
				<string>小腿</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>45</string>
				<key>name</key>
				<string>足部</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>骨</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>47</string>
				<key>name</key>
				<string>骨髓</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>48</string>
				<key>name</key>
				<string>关节</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>49</string>
				<key>name</key>
				<string>脊髓</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>50</string>
				<key>name</key>
				<string>脊柱</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>51</string>
				<key>name</key>
				<string>肋骨</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>52</string>
				<key>name</key>
				<string>颅骨</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>53</string>
				<key>name</key>
				<string>盆骨</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>54</string>
				<key>name</key>
				<string>其他骨</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>55</string>
				<key>name</key>
				<string>上肢骨</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>56</string>
				<key>name</key>
				<string>下肢骨</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>男性生殖</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>58</string>
				<key>name</key>
				<string>睾丸</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>59</string>
				<key>name</key>
				<string>前列腺</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>60</string>
				<key>name</key>
				<string>阴囊</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>61</string>
				<key>name</key>
				<string>阴茎</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>62</string>
				<key>name</key>
				<string>输精管</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>女性生殖</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>64</string>
				<key>name</key>
				<string>卵巢</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>65</string>
				<key>name</key>
				<string>输卵管</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>66</string>
				<key>name</key>
				<string>外阴</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>67</string>
				<key>name</key>
				<string>阴道</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>68</string>
				<key>name</key>
				<string>子宫</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>盆腔</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>70</string>
				<key>name</key>
				<string>膀胱</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>71</string>
				<key>name</key>
				<string>尿道</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>会阴部</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>80</string>
				<key>name</key>
				<string>会阴部</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>全身</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>73</string>
				<key>name</key>
				<string>肌肉</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>74</string>
				<key>name</key>
				<string>淋巴</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>75</string>
				<key>name</key>
				<string>血液血管</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>76</string>
				<key>name</key>
				<string>免疫系统</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>77</string>
				<key>name</key>
				<string>皮肤</string>
			</dict>
			<dict>
				<key>ids</key>
				<string>78</string>
				<key>name</key>
				<string>周围神经系统</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>背部</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>84</string>
				<key>name</key>
				<string>背部</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>心理</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>82</string>
				<key>name</key>
				<string>心理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>其他</string>
		<key>liteClassify</key>
		<array>
			<dict>
				<key>ids</key>
				<string>86</string>
				<key>name</key>
				<string>其他</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
